body {
  background-color: black;
  color: gold;
}
h1 {
  margin-left: 36rem;
}
.h3_style {
  margin-left: 32rem;
}
.align {
  margin-left: 20rem;
}
.align1 {
  margin-left: 10rem;
}
.button_align {
  margin-left: 18rem;
  margin-top: 3rem;
}
