{{>headers}}
<link rel="stylesheet" href="css/style.css" />
<h1>WELCOME: {{name}}</h1>
<h3 class="h3_style">Check your <a href="todo"
    style="color: blanchedalmond;">Todo-List</a>
  in Todo page Cilck here to <a href="contactus" style="color: blanchedalmond;">Contact-Us</a></h3>